@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<html>
<head>

</head>
<body>
    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <h2>The time on the server is @DateTime.Now</h2>
    </div>
    <div class="ModuleTable" style="position:relative; top:100px;">
        <table border="1">
            <tr>
                <th>Module ID</th>
                <th>Description</th>
                <th>Coordinates</th>
                <th>Status</th>
            </tr>
        @foreach (Module module in Model.modules)
        {
        <tr>
            <td>@module.getModuleID()</td>
            <td>@module.getDescription()</td>
            <td>@module.getCoordinates(0) @module.getCoordinates(1) @module.getCoordinates(2)</td>
            <td>@module.getOnlineStatus()</td>
        </tr>
        }
        </table>
    </div>
</body>
</html>